<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--
      See You Cowgirl, Someday, Somewhere!
    --!>
    <title>ein.io</title>
  </head>
  <body>
  {% block content %}
  {% endblock %}
  </body>
</html>
