{% extends "body.jinja" %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Ein.io</h1>
    <p>Ein is an open-source replacement for the now-defunct <a href="http://cia.ca">cia.vc</a> service. Ein receives messages from services and scripts and delivers them to IRC channels.</p>
  </div>
</div>
{% endblock %}
