{% extends "body.jinja" %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Ein.io</h1>
    <p>Ein is an open-source replacement for the now-defunct <a href="http://cia.ca">cia.vc</a> service. Ein receives messages from services and scripts and delivers them to IRC channels.</p>
    <p><small class="text-muted">Ein is currently in public beta. You can checkout the source code on <a href="http://github.com/TkTech/Ein">github</a>.</small></p>
    <a href="#" class="btn btn-success btn-lg">
      Sign Up
    </a>
  </div>
</div>
{% endblock %}
