{% macro repo_link(project) %}
{% if not project.public %}
<i class="icon-lock"></i>
{% endif %}
<a href="{{ url_for('projects.dashboard', u=project.owner.username) }}">
  {{ project.owner.username }}
</a><span class="muted">/</span><a href="{{ url_for('projects.details', u=project.owner.username, p=project.name) }}">
  {{ project.name }}
</a>
{% endmacro %}
{% macro active(end) %}
{% if request.endpoint.startswith(end) %}active{% endif %}
{% endmacro %}

{# Helper for generating navbar links #}
{% macro _nav(endpoint, text, icon='', title='', active='') %}
  {% set active = active or endpoint %}
  {% set title = title or text %}

  {% if request.endpoint and request.endpoint.startswith(active) %}
  <li class="active">
    <a href="{{ url_for(endpoint) }}" title="{{ title }}">
      {{ text }}
    </a>
  </li>
  {% else %}
  <li>
    <a href="{{ url_for(endpoint) }}" title="{{ title }}">
      {{ text }}
    </a>
  </li>
  {% endif %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title|default('Notifico!') }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    {% if config.GOOGLE %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ config.GOOGLE }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('public.landing') }}">
            Notifico
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          {{ _nav('public.landing', 'Home') }}
          {% if not g.user %}
          {# Only displayed when there's no logged in user. #}
          {{ _nav('account.login', 'Login') }}
          {{ _nav('account.register', 'Register') }}
          {% else %}
          {{ _nav('account.logout', 'Logout') }}
          {% endif %}
          </li>
        </ul>
      </div>
    </div> 

    <div class="content">
    {% block content %}
    {% endblock content %}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
